body {
    background-color: rgb(48, 48, 48);
}

section#page {
    background-color: rgb(48, 48, 48);
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-template-columns: [left] auto [mainleft] auto [main] 1fr [mainright] auto [right] auto [end] 0px;
}

nav#leftnavbar {
    background-color: rgb(48, 48, 48);
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-column: left;
    width: 20vw;
    height: 100%;
}

nav#topnavbar {
    display: grid;
    grid-column-start: mainleft;
    grid-column-end: end;
}

nav#leftnavbar div#navigation {
    position: fixed;
    width: 20vw;
}

nav#leftnavbar div#logo {
    position: fixed;
    bottom: 1.0Em;
    left: 2.0Em;
    width: 20vw;
}

nav#leftnavbar div#logo .logo {
    font-size: 5.0Em;
}

nav#leftnavbar div#navcontainer {
    width: 20vw;
    border-bottom: 1px solid aliceblue;
}

nav#topnavbar div#navcontainer {
    display: inline-block;
    padding: 0 1.0Em;
}

main#application {
    display: grid;
    background-color: rgba(144, 144, 144, 0.5);
    border-top-left-radius: 0.75Em;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    padding: 2.0Em;
    margin: 1.0Em 0 0 0;
    grid-column-start: mainleft;
    grid-column-end: end;
    width: calc(80vw - 6.0Em);
}