body {
    background-color: rgb(48, 48, 48);
}

section#page {
    background-color: rgb(48, 48, 48);
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-template-columns: [left] auto [mainleft] auto [main] 1fr [mainright] auto [right] auto [end] 0px;
    width: 100%;
}

nav#leftnavbar {
    background-color: rgb(48, 48, 48);
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-column: left;
    height: 100%;
    min-width: 8Em;
    max-width: 16Em;
    word-break: break-all;
}

@media screen and (width < 768px) {
    nav#leftnavbar {
        width: 8.0Em;
        transition: 300ms;
    }
}

@media screen and (width >= 768px) {
    nav#leftnavbar {
        width: 16.0Em;
    }
}

nav#leftnavbar div#navigation {
    position: fixed;
    width: inherit;
}

nav#leftnavbar div#navcontainer {
    width: inherit;
    border-bottom: 1px solid aliceblue;
}

nav#topnavbar {
    display: grid;
    grid-column-start: left;
    grid-column-end: end;
    min-height: 4.0Em;
    height: max-content;
}

nav#topnavbar div#navigation {
    display: inline-block;
}

nav#topnavbar div#logo {
    position: fixed;
    text-align: left;
}

nav#topnavbar div#logo .logo {
    float: left;
}

nav#topnavbar div#logo .logotext {
    text-align: center;
    font-size: 1.5Em;
    padding-top: 0.45Em;
}

nav#topnavbar div#navcontainer {
    padding: 0 1.0Em;
}

main#application {
    display: grid;
    background-color: rgba(144, 144, 144, 0.5);
    border-top-left-radius: 0.75Em;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    margin-top: 1.0Em;
    grid-column-start: mainleft;
    grid-column-end: end;
    width: calc(100% - 1px);
}

main#application article {
    padding: 2.0Em;
}

footer {
    background-color: rgb(66, 66, 66);
    width: inherit;
    min-height: 10vh;
    border-top: 1px solid aliceblue;
    padding-top: 0.25Em;
}

.scrollbox {
    max-height: 30vh;
    max-width: 30vw;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(144, 144, 144) rgb(22, 22, 22);
}