body {
    background-color: rgb(48, 48, 48);
}

section#page {
    background-color: rgb(48, 48, 48);
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-template-columns: [left] auto [mainleft] auto [main] 1fr [mainright] auto [right] auto [end] 0px;
    width: 100%;
}

nav#leftnavbar {
    background-color: rgb(48, 48, 48);
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-column: left;
    height: 100%;
}

@media screen and (width < 768px) {
    nav#leftnavbar {
        width: 8Em;
        transition: 300ms;
    }

    nav#leftnavbar div#logo .logo {
        font-size: 3Em;
    }

    nav#leftnavbar div#logo .logotext {
        font-size: 1.5Em;
    }
}

@media screen and (width >= 768px) {
    nav#leftnavbar {
        width: 16Em;
    }

    nav#leftnavbar div#logo .logo {
        font-size: 6Em;
    }

    nav#leftnavbar div#logo .logotext {
        font-size: 2Em;
    }
}

nav#leftnavbar div#navigation {
    position: fixed;
    width: inherit;
    padding-top: 3.0Em;
}

nav#leftnavbar div#logo {
    position: fixed;
    bottom: 1.0Em;
    width: inherit;
}

nav#leftnavbar div#navcontainer {
    width: inherit;
    border-bottom: 1px solid aliceblue;
}

nav#topnavbar {
    display: grid;
    grid-column-start: mainleft;
    grid-column-end: end;
    height: max-content;
}

nav#topnavbar div#navcontainer {
    display: inline-block;
    padding: 0 1.0Em;
}

main#application {
    display: grid;
    background-color: rgba(144, 144, 144, 0.5);
    border-top-left-radius: 0.75Em;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    margin-top: 1.0Em;
    grid-column-start: mainleft;
    grid-column-end: end;
    width: calc(100% - 1px);
}

main#application article {
    padding: 2.0Em;
}

footer {
    background-color: rgb(66, 66, 66);
    width: inherit;
    min-height: 10vh;
    border-top: 1px solid aliceblue;
    padding-top: 0.25Em;
}