body {
    --darkbgc   :   rgb(48, 48, 48);
    --lightbgc  :   rgb(255, 255, 255);
    --darktxc   :   rgb(22, 22, 22);
    --lighttxc  :   aliceblue;
    --darkc     :   rgb(96, 96, 96);
    --lightc    :   rgba(222, 222, 222, 0.5);
}

@media (prefers-color-scheme: dark) {
    body {
        --bgc           :   var(--darkbgc);
        --oppositebgc   :   var(--lightbgc);
        --txc           :   var(--lighttxc);
        --oppositetxc   :   var(--darktxc);
        background-color: var(--darkbgc);
    }

    section#page {
        background-color: var(--darkbgc);
    }

    nav#leftnavbar {
        background-color: var(--darkbgc);
    }

    main#application {
        background-color: var(--darkc);
    }

    footer {
        background-color: var(--darkc);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --bgc           :   var(--lightbgc);
        --oppositebgc   :   var(--darkbgc);
        --txc           :   var(--darktxc);
        --oppositetxc   :   var(--lighttxc);
        background-color: var(--lightbgc);
    }

    section#page {
        background-color: var(--lightbgc);
    }

    nav#leftnavbar {
        background-color: var(--lightbgc);
    }

    main#application {
        background-color: var(--lightc);
    }

    footer {
        background-color: var(--lightc);
    }
}

section#page {
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-template-columns: [left] auto [mainleft] auto [main] 1fr [mainright] auto [right] auto [end] 0px;
    width: 100%;
    min-height: 100vh;
}

nav#leftnavbar {
    background-image: url("./img/bg.png");
    background-blend-mode: overlay;
    display: grid;
    grid-column: left;
    min-width: 8Em;
    max-width: 16Em;
    height: 90vh;
    word-break: break-all;
}

@media screen and (width < 768px) {
    nav#leftnavbar {
        width: 8.0Em;
        transition: 300ms;
    }
}

@media screen and (width >= 768px) {
    nav#leftnavbar {
        width: 16.0Em;
    }
}

nav#leftnavbar div#navigation {
    position: fixed;
    width: inherit;
    height: 80vh;
    margin-top: 2.0Em;
}

nav#leftnavbar div#navcontainer {
    width: inherit;
    border-bottom: 1px solid var(--txc);
}

nav#topnavbar {
    display: grid;
    grid-column-start: left;
    grid-column-end: end;
    min-height: 4.0Em;
    height: max-content;
}

nav#topnavbar div#navigation {
    display: inline-block;
}

nav#topnavbar div#logo {
    position: fixed;
    text-align: left;
}

nav#topnavbar div#logo .logo {
    float: left;
}

nav#topnavbar div#logo .logotext {
    text-align: center;
    font-size: 1.5Em;
    padding: 0.45Em 0;
}

nav#topnavbar div#navcontainer {
    padding: 0 1.0Em;
}

main#application {
    display: grid;
    border-top-left-radius: 0.75Em;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    margin-top: 1.0Em;
    grid-column-start: mainleft;
    grid-column-end: end;
    width: calc(100% - 1px);
}

main#application article {
    padding: 2.0Em;
}

footer {
    width: inherit;
    min-height: 10vh;
    border-top: 1px solid var(--txc);
    padding-top: 0.25Em;
}

.scrollbox {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--oppositebgc) var(--bgc);
}