html, body {
    color: var(--txc);
    text-shadow: 1px 1px var(--oppositetxc);
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 0.5Em;
    margin: 0;
}

p {
    padding: 0 0.5Em;
    text-indent: -0.25Em;
    margin: 0;
}

a {
    color: greenyellow;
    text-decoration: underline;
    text-decoration-color: var(--txc);
    text-decoration-thickness: 1px;
    cursor: pointer;
}

a:hover, a.none {
    color: var(--txc);
    text-decoration: none;
    cursor: pointer;
}

a.color {
    color: greenyellow;
}

a.none:hover {
    color: greenyellow;
    text-decoration: underline;
    text-decoration-color: var(--txc);
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.color {
    color: greenyellow;
    text-shadow: 1px 1px var(--darktxc);
}

.secondary {
    color: skyblue;
    text-shadow: 1px 1px var(--darktxc);
}

.contrast {
    color: hsl(54, 100%, 48%);
    text-shadow: 1px 1px darkgoldenrod;
}

.highlight {
    color: hsl(84, 100%, 36%);
    text-shadow: 1px 1px green;
}

.white {
    color: aliceblue;
}

.antiqua {
    font-family: 'Book Antiqua', 'Times New Roman', 'Courier New', Courier, monospace;
}