@font-face {
    font-family: 'Dataart-Icon-Font';
    src: url("../res/Dataart-Icon-Font.ttf") format("truetype");
}

html, body {
    color: var(--txc);
    text-shadow: 1px 1px var(--oppositetxc);
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 0.5Em;
    margin: 0;
}

h1.symbol {
    font-family: 'Dataart-Icon-Font';
}

p {
    padding: 0 0.5Em;
    text-indent: -0.25Em;
    margin: 0;
}

a {
    color: var(--txc);
    text-shadow: 1px 1px var(--oppositetxc);
    text-decoration: underline;
    text-decoration-color: var(--txc);
    text-decoration-thickness: 1px;
    cursor: pointer;
}

a:hover, a.none {
    color: var(--txc);
    text-decoration: none;
    cursor: pointer;
}

a.color {
    color: var(--palette-sub0);
    text-shadow: 1px 1px var(--oppositetxc);
}

a.none:hover {
    color: var(--palette-main);
    text-decoration: none;
    cursor: pointer;
}

a.secondary {
    color: var(--palette-con);
    text-shadow: 1px 1px black;
    text-decoration: none;
}

@media screen and (width < 912px) {
    nav#leftnavbar {
        font-size: 76%;
    }

    div#right {
        font-size: 76%;
    }
}

@media screen and (width >= 912px) {
    nav#leftnavbar {
        font-size: 100%;
    }

    div#right {
        font-size: 100%;
    }
}

.navigation {
    scrollbar-color: rgb(22, 22, 22) rgb(144, 144, 144);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    overflow-x: hidden;
    overflow-y: visible;
}

div#navigation, div#navigation div#container {
    text-align: center;
}

div#navigation div#navcontainer {
    text-align: left;
}

div#navigation a {
    color: var(--lighttxc);
    text-shadow: 1px 1px var(--darktxc);
    text-decoration: none;
}

div#navigation a:hover {
    color: var(--palette-con);
    text-shadow: 1px 1px var(--palette-sub2);
    text-decoration: none;
}

div#navigation a.main {
    color: var(--palette-sub0);
    text-shadow: 1px 1px var(--palette-sub2);
    text-decoration: none;
}

div#navigation a.main:hover {
    color: var(--palette-con);
    text-shadow: 1px 1px var(--palette-sub2);
    text-decoration: none;
}

.color {
    color: var(--palette-main);
    text-shadow: 1px 0 var(--darktxc);
}

.secondary {
    color: var(--palette-sub0);
    text-shadow: 1px 0 var(--darktxc);
}

.contrast {
    color: var(--palette-sub1);
    text-shadow: 1px 0 var(--darktxc);
}

.highlight {
    color: var(--palette-sub1);
    text-shadow: 1px 0 var(--darktxc);
}

.white {
    color: var(--lighttxc);
}

.antiqua {
    font-family: 'Book Antiqua', 'Times New Roman', 'Courier New', Courier, monospace;
}