@media (prefers-color-scheme: dark) {
    body {
        --bgc           :   var(--darkbgc);
        --oppositebgc   :   var(--lightbgc);
        --txc           :   var(--lighttxc);
        --oppositetxc   :   var(--darktxc);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --bgc           :   var(--lightbgc);
        --oppositebgc   :   var(--darkbgc);
        --txc           :   var(--darktxc);
        --oppositetxc   :   var(--lighttxc);
    }
}

body {
    --palette-main      :   hsl(50, 100%, 50%);
    --palette-sub0      :   hsl(36, 100%, 72%);
    --palette-sub1      :   hsl(36, 100%, 56%);
    --palette-sub2      :   hsl(36, 100%, 36%);
    --palette-con       :   hsl(24, 100%, 50%);
    
    --darkbgc   :   rgb(48, 48, 48);
    --lightbgc  :   rgb(255, 255, 255);
    --darktxc   :   rgb(22, 22, 22);
    --lighttxc  :   whitesmoke;
    --darkc     :   rgb(96, 96, 96);
    --lightc    :   rgba(222, 222, 222, 0.75);
}